#loading {
    width: 100%;
    height: 100%;
    top: 0px;
    left:0px;
    position:fixed;
    opacity:0.8;
    background-color:#fff;
    text-align:center;
}

#loading-image {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-64px;
    margin-top:-64px;
    z-index:100000;
}

body {
    font-family:"Apercu Regular", Calibri, sans-serif;
    font-size-adjust:0.508;
    font-weight:normal;
    font-style:normal;
    background-color:#fff;
    overflow-x:hidden;
    overflow-y:hidden;
    height:100%;
}
html {
    overflow-y:hidden;
    height:100%;
}

.marketing a, footer a {
    color:black;
    text-decoration:underline;
}


.entry {
    overflow:hidden;
    position:relative;
}
.active {
    z-index:1000;
}

p {
    font-family:"Apercu Regular", Calibri, sans-serif;
    font-size:18px;
    line-height:25px;
    margin-top:3px;
}
h1, h2, h3, h4, h5 {
    font-size:22px;
    font-family:"Apercu Regular", Calibri, sans-serif;
    line-height:22px;
}

.fullwidth {
    width:100%;
}
.bg1 {
    background-color:#ffffff;
    width:100%;
}
.bg0 {
    background-color:#fdf588;
    width:100%;
}
.unter {
    z-index:-100;
    display:none;
}

.header img{
    width:100%;
}
.header {
    overflow:hidden;
}

.navbar-wrapper.affix {
    top:0;
    position:fixed;
    width:100%;
    z-index:10000;
    background-color:#ffff36;
}
.navbar-padding {
    font-size:18px;
    position:relative;
    width:100%;
    background-color:#ffff36;
    min-height:40px;
}
.navbar {
    background-color:#ffff36;
    border-color:#ffff36;
    height:50px; 
    margin-bottom:0px;
}
.navbar-header a, .navbar-header a:hover, .navbar-header a:focus {
    color:white;
    font-size:18px;
    line-height:29px;
}
.navbar-nav > li > a{
    color:#222222;
    line-height:29px;
    font-size:18px;
    padding-left:21px;
    padding-right:21px
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    color:white;
    background-color:transparent;
}
.navbar-collapse {
    background-color:#ffff36;
    border:0px;
}
.navbar-collapse ul {
    text-align:center;
}
.navbar-collapse li:hover {
}
.navbar-collapse li:hover a {
}
.navbar-toggle {
    margin-top:24px;
    background-color:white;
    margin-right:34px;
}
.navbar-brand {
    padding-right:0px;
    margin-right:74px;
}
.lang-sel a {
    display:inline!important;
}
.lang-sel {
    margin-top:15px;
}
.row {
    margin-top:10px;
}
.navbar-collapse:before, .navbar-collapse:after {
    display: inline;
}


/* Bootstrap custom stuff */

.col-md-8, .col-sm-8 {
    padding-left:10px;
    padding-right:10px;
}

.col-md-4, .col-sm-4 {
    padding-left:10px;
    padding-right:10px;
}

.col-md-2, .col-sm-2 {
    width:20%;
    padding-left:0px;
    padding-right:20px;
    margin-bottom:20px;
    float:left;
}
.col-sm-3 {
    padding-left:10px;
    padding-right:10px;
}

.padding-left-0 {
    padding-left:0px!important;
}
.padding-right-0 {
    padding-right:0px!important;
}
.img-responsive {
    width:100%;
}

.center {
    float:left;
    margin-left:auto;
    margin-right:auto;
}

.blacklayer {
    width:100%;
    height:100%;
    background-color:black;
    opacity:0.5;
    position:absolute;
    top:0;
    color:white;
    padding-top:20px;
    padding-left:20px;
}
.blacklayer:hover, .blacklayer:focus {
    opacity:0;
}
.cover:hover {
    z-index:1000;
}
.overlap1r {
    margin-left:-20px;
    margin-bottom:-20px;
}
.overlap2r {
    margin-left:-40px;
    margin-bottom:-40px;
}
.overlap3r {
    margin-left:20px;
    margin-bottom:20px;
}
.overlap1l {
    margin-right:-20px;
    margin-bottom:-20px;
}
.overlap2l {
    margin-right:-40px;
    margin-bottom:-40px;
}
.overlap3l {
    margin-right:20px;
    margin-bottom:20px;
}

.overlap1c {
    margin-bottom:-20px;
    margin-top:-20px;
    left:0px;
}
.overlap2c {
    margin-top:-40px;
    margin-bottom:-40px;
    left:0px;
}
.overlap3c {
    margin-top:20px;
    margin-bottom:20px;
    left:0px;
}
.modal-dialog {
    width: 100%
}
.marketing {
    max-width:1050px;
    margin-left:auto;
    margin-right:auto;
    background-color:transparent;
    padding-bottom:125px;
    font-family:"Apercu Regular", Calibri, sans-serif;
}

.up {
    float:right;
    margin-top:-60px;
    width:21px;
    height:18px;
    background-image:url('/img/up.gif');
    margin-right:55px;
}
.up:hover {
    cursor:hand;
    cursor:pointer;
    background-image:url('/img/uphover.gif');
}
.container {
    max-width:1185px;
    font-family:"Apercu Regular", Calibri, sans-serif;
}
.x {
    margin-top:10px;
    width:21px;
    height:21px;
    background-image:url(/img/close.gif);
    position:absolute;
    right:0px;
    z-index:10000;
}

@media screen and (max-width: 1005px) {
    .x {
        margin-top:20px!important;
        margin-right:20px!important;
    }
    .container {
        width:100%;
        padding-left:0;
        padding-right:0;
    }
}

@media screen and (min-width:1250px) {
    .overlap1c, .overlap2c, .overlap3c {
        left:25%;
    }
    .x {
        margin-right: -60px;
    }
}

@media screen and (max-width:1080px) {
    .overlap1c, .overlap2c, .overlap3c {
        left:0px;
    }
}


@media screen and (min-width:1024px) {
    .fourtwofive-l {
        max-width: 350px;
        max-height: 233px;
        position:relative;
    }

    .sixfourtwo-l {
        max-width: 500px;
        max-height: 333px;
        position:relative;
    }
    .seveneightone-l {
        max-width: 566px;
        max-height: 425px;
        position:relative;
    }
    .fourtwofive-p {
        max-height: 350px;
        max-width: 233px;
        position:relative;
    }
    .sixfourtwo-p {
        max-height: 500px;
        max-width: 333px;
        position:relative;
    }
    .seveneightone-p {
        max-width: 425px;
        max-height: 566px;
        position:relative;
    }
    .row {
        margin-left:0px!important;
        margin-right:0px!important;
    }
}
@media screen and (min-width: 960px) and (max-width: 1250px)  {
    .x {
        margin-right:7px;

    }
}
@media screen and (min-width: 768px) {
    .navbar-padding {
        min-height:59px;
    }
    .marketing {
        padding-top:20px;
    }
    .monitor-right {
        float:right;
    }
    .row {
        margin-left:10px;
        margin-right:10px;
    }
}

@media screen and (max-widht: 520px;) {
    .fourtwofive-l, .sixfourtwo-l, .seveneightone-l, .fourtwofive-p , .sixfourtwo-p, .seveneightone-p {
        width:100%!important;
        max-width:none!important;
    }
    .entry img {
        width:100%;
    }
    .entry {
        width:100%;
    }
}

@media screen and (max-width: 959px) and (min-width: 100px) {
    .row {
        margin-left:10px;
        margin-right:10px;
    }
    .x {
        margin-top:20px!important;
        margin-right:20px;
    }
    .header img{
        width:auto;
        height:100%;
    }
    .fourtwofive-l, .sixfourtwo-l, .seveneightone-l, .fourtwofive-p , .sixfourtwo-p, .seveneightone-p {
        width:100%!important;
        max-width:none!important:
        max-height:none!important;
    }

    .marketing {
        margin-top:1px;
        padding-top:1px!important;
    }

    .navbar-header a, .navbar-header a:hover, .navbar-header a:focus {
        min-height:none;
        line-height:20px;
    }
    .navbar-padding {
        margin-top:-50px;
        max-height:none;
        min-height:none;
        height:50px;
    }
    .navbar-toggle {
        margin-top:9px;
    }
    .navbar {
        height:auto;
    }
    .navbar-collapse .collapse .pull-right {
        float:none!important;
    }
    .marketing {
        margin:0px;
        padding-left:0px;
        padding-right:0px;
    }
    .x {
        margin-right:20px;
        margin-top:20px
    }
    .fourtwofive {
        max-width: 100%;
        position:relative;
    }

    .sixfourtwo {
        max-width: 100%;
        position:relative;
    }

    .seveneightone {
        max-width: 100%;
        position:relative;
    }
    .overlap1r, .overlap2r, .overlap3r, .overlap1l, .overlap2l, .overlap3l, .overlap1c, .overlap2c, .overlap3c {
        width:100%;
        margin-left:0px;
        margin-right:0px;
        margin-bottom: 1px;
        margin-top:0px;
    }
    .overlap1c, .overlap2c, .overlap3c {
        left:0px;
    }
}

footer {
    float:left;
    width:100%;
}
.footer-wrapper-white {
    padding-top:100px;
}
.footer-wrapper {
    background-color:#f5f4f3;
}
footer .container {
    background-color:white;
    min-height:200px;
    padding-left:0px;
    padding-right:0px;
    padding-bottom:0px;
}
.boxcontent {
    position:absolute;
    display:none;
    margin-bottom:100px;
    background-color:white;
}
.navbar-wrapper > .container {
    padding-left:0px;
    padding-right:0px;
}
body > .container {
    padding-left:0px;
    padding-right:0px;
    background-color:white;
}
footer .grey {
    background-color:#f5f4f0;
    bottom:0px;
    min-height:300px;
    margin-bottom:-20px;
}
footer input[type=text] {
    width:100%;
    background-color:transparent;
    border-left-width:0px;
    border-right-width:0px;
    border:1px 1px;
    border-color:#222222;
    color:#888888;
}
footer input[type=submit] {
    margin-top:5px;
    margin-left:0px;
    padding-left:0px;
    background-color:transparent;
    border:0px;
}
.email {
    border-top:0px;
    margin-top:-2px;
}
/* shadowbox custom css */
#sb-container {
    z-index:10000;
}
